<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HALFMOON CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <title>USER CR</title>
</head>
<body class="bg-very-dark">
    <div class="container">
        <div class="col">
            <div class="row mt-3">
                <div class="card bg-dark mx-auto text-light">
                    <a href="/users">Back to Home</a>
                    <h1 class="text-center">Edit User</h1>
                    <form action="#" method="POST" class="w-400 mw-full">
                        <!-- FORM -->
                        <div class="form-group">
                            <label for="fname" class="required">First Name</label>
                            <input type="text" class="form-control mb-20" name="first_name" id="first_name" value="{{user['first_name']}}" required="required">

                            <label for="lname" class="required">Last Name</label>
                            <input type="text" class="form-control mb-20" name="last_name" id="last_name" value="{{user['last_name']}}" required="required">

                            <label for="email" class="required">Email</label>
                            <input type="text" class="form-control mb-20" name="email" id="email" value="{{user['email']}}" required="required">

                            <input class="btn btn-primary" type="submit" value="Update">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>