<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- HALFMOON CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <title>Authors</title>
</head>
<body class="bg-very-dark">
    <div class="page-wrapper">
        <div class="row">
            <div class="col mx-auto w-500">
                <div class="card text-light bg-dark-light">
                    <h1>New Author</h1>
                    <form action="/new_author" method="POST">
                        <!-- NEW AUTHOR FORM -->
                        <div class="form-group">
                            <label for="first_name">First Name:</label>
                            <input type="text" class="form-control mb-20" name="first_name" id="first_name">
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control mb-20" name="last_name" id="last_name">
                            <input class="btn btn-primary" type="submit" value="Create">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col mx-auto w-400">
                <div class="card text-light bg-dark-light">
                    <h1>All Authors</h1>
                    {% for author in authors %}
                        <div class="row mb-20 align-items-center">
                            <a href="/authors/{{author['id']}}" class="mr-20">{{author.first_name}} {{author.last_name}}</a>
                        </div>
                    {% endfor %}
                    <hr>
                    <a href="/books" class="btn btn-primary">Add Book</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>